.musicplayer {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 50vh;
    height: 40px;
    max-height: 9%;
    padding: 10px;
    /* background: linear-gradient(60deg, rgb(48, 3, 120) 16%,  rgba(10, 1, 61, 1) 100%); */
    background-color: rgba(255, 255, 255, 0.147);
    border-radius: 0 0 10px 10px;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 15px;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    >img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 5px;
    }
    .info {
        align-items: center;
        text-align: center;
        width: 100%;
        >p {
            margin: 5px 0;
        }
    }
    >div > p {
        >a {
            font-weight: bold;
        }
        margin: 0;
        >span:not(:last-of-type)::after {
            content: ', ';
        }
    }
    .playcontrol {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: fit-content;
        flex-shrink: 0;
    }
    .playerIcon {
        color: white;
    }
}
.onleft {
    left: 0;
  -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
       -o-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
      -ms-transform: rotate(-90deg) translate(-50%, 50%);
       -o-transform: rotate(-90deg) translate(-50%, 50%);
          transform: rotate(-90deg) translate(-50%, 50%);
}

#scroll-container {
    overflow: hidden;
}
  
#scroll-text {
    text-align: center;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
}
  
/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}