.musicplayer {
    position: fixed;
    bottom: 50px;
    left: 10px;
    width: 32vh;
    height: 28vh;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/dpwehcnso/image/upload/v1687112812/golawbg2dbs6gk4btw7l.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: linear-gradient(60deg, rgb(48, 3, 120) 16%,  rgb(255, 0, 0) 100%); */
    /* background-color: rgba(255, 255, 255, 0.147); */
    border-radius: 10px;
    margin: auto;
    align-items: center;
    text-align: center;
    column-gap: 15px;
    .playerDisplay {
        height: calc(100% - 15px);
        background-color: rgba(0, 0, 0, 0.599);
        padding: 10px 10px 5px;
    }
    .info {
        align-items: center;
        text-align: center;
        width: 100%;
        overflow: hidden;
        >p {
            margin: 5px 0;
            font-size: small;
            white-space: nowrap;
        }
    }
    >div > p {
        >a {
            font-weight: bold;
        }
        margin: 0;
        >span:not(:last-of-type)::after {
            content: ', ';
        }
    }
    .playcontrol {
        text-align: center;
        .playerRow2 {
            >p {
                width: 40px;
                text-align: center;
            }
        }
        .lastRow {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .volume, .playlist {
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
        }
    } 
    .playcontrol>div {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: fit-content;
        flex-shrink: 0;
        align-items: center;
        >p {
            margin: 0;
            font-size: small;
        }
    }
    .playerIcon {
        color: white;
        margin: 0;
        padding: 0 5px;
    }
}
.css-1hlmbra-MuiSlider-root {
    padding: 0;
}
.css-14gf62f-MuiSlider-thumb::after {
    width: 20px !important;
    height: 20px !important;
}
/* .onleft {
    left: 0;
  -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
       -o-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-56%, 50%);
     -moz-transform: rotate(-90deg) translate(-56%, 50%);
      -ms-transform: rotate(-90deg) translate(-56%, 50%);
       -o-transform: rotate(-90deg) translate(-56%, 50%);
          transform: rotate(-90deg) translate(-56%, 50%);
} */

#scroll-container {
    overflow: hidden;
}
#scroll-text {
    text-align: center;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
}
  
/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}