/* CSS trang quên mật khẩu */
.forgotPwContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 14;
  background-color: #0000005a;
  top: 0;
  left: 0;
}
.forgotPwBody {
  position: relative;
  width: 40%;
  height: fit-content;
  background: rgb(99, 91, 255);
  border-radius: 10px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.forgotPwBody form {
  display: flex;
  margin-top: 10px;
  overflow: hidden;
  justify-content: space-between;
}
.forgotPwBody input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px 5px 0 0;
  width: 70%;
  max-width: calc(100% - 70px);
}
.forgotPwBody input[type="button"] {
  min-width: 65px;
  width: 28%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a2854;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    color: #2a2854;
    background-color: rgb(217, 217, 217);
  }
}
.closeBtn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: translate(0, 0);
  background: #fff;
  color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  &:hover {
    background-color: #2a2854;
    color: white;
  }
}
