.userTrackContainer {
    padding: 10px 15px 10px 10px;
    background-color: rgba(255, 255, 255, 0.147);
    height: 30px;
    width: calc(100% - 30px);
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    position: relative;
    >p {
        margin: 0;
    }
    .first-col {
        align-items: center;
        display: flex;
        width: 6vh;
        >p {
            padding-left: 8px;
        }
    }
    >img {
        width: 35px;
        height: 35px;
        aspect-ratio: 1;
        object-fit: cover;
        overflow: hidden;
        margin-right: 10px;
    }
    .playIcon {
        display: none;
        color: white;
        align-items: center;
        margin: 0;
        padding: 1px;
    }
    .favsIcon {
        color: white;
    }
    .last-col, p:nth-of-type(9) {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}
.userTrackContainer:hover {
    background-color: rgba(179, 174, 255, 0.359);
    .first-col p {
        display: none !important;
    }
    .playIcon {
        display:flex !important;
    }
}